{% extends "layout.html" %}
{% block content %}
    
<section class="main" >
    
<section class="articles">
        <article>
            <h2>Adopta a un gato</h2>
            <br>
            <p id="letra"><b>Josif</b> es de colores varios como el cafe, negro y blanco. El es muy dormilon siempre estara escondido donde no sea molestado por un buen rato
               <br>
                <img id="imagen" src="/static/imagenes/gato1.jpg" width="60%">
           </p>
       </article>
        <article>
            <p id="letra"><b>Luca</b> es un gato de apenas 3 mese color blanco y negro el cual tiende a ser jugeton y muy suave
                <br>
            <img id="imagen" src="/static/imagenes/gato2.jpg" width="60%">
        </article>
        <article>
            <h3>Cuidados para un gato</h3>
            <p id="letra"><b>Alimentación adecuada:</b> Proporciona una dieta balanceada y de alta calidad para tu gato. Los gatos son carnívoros, así que necesitan alimentos ricos en proteínas.
                <br>
                <b>Caja de arena limpia:</b> Asegúrate de que la caja de arena esté limpia y accesible para tu gato en todo momento.
                <br>
                <b>Juguetes y enriquecimiento ambiental:</b> Proporciona juguetes y actividades que estimulen a tu gato mental y físicamente.
                <br>
                <b>Cuidado dental:</b> Cepilla los dientes de tu gato regularmente y considera el uso de alimentos o juguetes diseñados para promover la salud dental.
                <br>
                <b>Atención veterinaria:</b> Programa revisiones regulares con el veterinario y mantén al día las vacunas y tratamientos contra parásitos.</p>
        </article>
</section>  
</section> 
<aside>
    <h3> Avisos:</h3>
    <p id="letra"> Cambio de horario por nuevo año <br> <b>12:00am-7:00pm</b> todos los dias.
        <br>
        <br>
        <b>Recaudacion de fondos en el parque heroes <br> 5:00pm-7:00pm</b>
    </p>
      
</aside>
    
{% endblock content %}