{% extends "layout.html" %}
{% block content %}

<section class="main" >
<section class="articles">
        <article>
            <h2>Adopta a un hamster</h2>
            <br>
            <p id="letra"><b>Robin</b> es una hamster cafe un poco energenico el cual necesita mucha atencion y cuidado un poco estricto.
                <br>
                <img id="imagen" src="/static/imagenes/hamster1.jpg" width="60%">
           </p>
       </article>
        <article>
            <p id="letra"><b>Coco</b> es una hamster de color entre cafe y cremita al que le gusta cavar mucho.
            <br>
            <img id="imagen" src="/static/imagenes/hamster2.jpg" width="60%">
        </article>
        <article>
            <h3>Cuidados para un hamster</h3>
            <p id="letra"><b>Jaula adecuada:</b> Proporciona una jaula lo suficientemente grande para permitir que tu hámster se mueva cómodamente. Añade una capa de sustrato apropiado en el fondo.
                <br>
                <b>Alimentación adecuada:</b> Proporciona una dieta balanceada que incluya alimentos comerciales para hámsteres, así como frutas y verduras frescas como golosinas.
                <br>
                <b>Ejercicio y enriquecimiento:</b> Proporciona una rueda de ejercicio y juguetes seguros para que tu hámster se mantenga activo y estimulado.
                <br>
                <b>Limpieza regular:</b> Limpia la jaula de tu hámster al menos una vez por semana, cambiando el sustrato y limpiando los accesorios.
                <br>
                <b>Atención veterinaria:</b> Si notas algún cambio en el comportamiento o la salud de tu hámster, consulta a un veterinario especializado en animales pequeños.</p>
        </article>
</section>  
</section> 
<aside>
    <h3> Avisos:</h3>
    <p id="letra"> Cambio de horario por nuevo año <br> <b>12:00am-7:00pm</b> todos los dias.
        <br>
        <br>
        <b>Recaudacion de fondos en el parque heroes <br> 5:00pm-7:00pm</b>
    </p>
</aside>
    
{% endblock content %}
