{% extends "layout.html" %}

{% block content %}
    <section class="main">

        <section class="articles">
            <article>
                <h2>Adopcion y venta de animales</h2>
                <br>
                <p id="letra">En nuestro refugio, estamos comprometidos con el rescate, la rehabilitación y la adopción de animales necesitados. Cada día, trabajamos incansablemente para brindar una segunda oportunidad a aquellos que han sido abandonados, maltratados o han perdido sus hogares por diversas circunstancias.
                    <br>
                    <img id="imagen" src="/static/imagenes/centro.jpg" width="60%">
                </p>
            </article>
            <article>
                <h3>Nuestra Mision</h3>
                <p id="letra">Nuestra misión es encontrar hogares amorosos y permanentes para cada uno de nuestros animales rescatados. Creemos en el poder transformador del amor y la compasión, y nos esforzamos por asegurar que cada mascota adoptada sea tratada con el cuidado y el respeto que merece.</p>
            </article>
            <article>
                <h5>¿Por qué adoptar?</h5>
                <p id="letra">La adopción de un animal no solo cambia la vida del animal, sino también la vida del adoptante. Los animales rescatados tienen una gratitud inigualable y una capacidad para dar amor incondicional que transforma vidas. Al adoptar, no solo estás salvando una vida, sino que estás agregando un miembro valioso a tu familia.</p>
            </article>
            <article>
                <h2>Como apoyarnos</h2>
                <p id="letra">Ya sea voluntariado, con ingresos, comida, ropa, etc. Cualquier ayuda es buena e
                    importante</p>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d118470.94189149357!2d-102.34435494179684!3d21.887720600000016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8429ef4f9f1d69d9%3A0x3a83a2185d72d581!2sVeterinaria%20Medical%20zoo!5e0!3m2!1ses-419!2smx!4v1707315839723!5m2!1ses-419!2smx"
                    class="miata"></iframe>
            </article>
        </section>
    </section>
    <aside>
        <h4> Avisos:</h4>
        <p id="letra"> Cambio de horario por nuevo año <br> <b>12:00am-7:00pm</b> todos los dias.
            <br>
            <br>
            <b>Recaudacion de fondos en el parque heroes <br> 5:00pm-7:00pm</b>

        </p>

    </aside>

{% endblock content %}
