
{% extends "layout.html" %}
{% block content %}
<section class="main" >
    
<section class="articles">
        <article>
            <h2>Adopta a un perro</h2>
            <br>
            <p id="letra"></p><b>Mike</b> es un perro de 2 años cruzado de color cafe, lleno de energia, perfecto para los niños de la casa.
                <br>
                <img id="imagen" src="/static/imagenes/perro1.jpg" width="150px">
           </p>
       </article>
        <article>
            <p id="letra"><b>Nala</b>es un pug de color blanco predominante con manchas oscuras teniendo alrededor de 1 un año, es juguetona y suelta mucho pelo</p>
            <img id="imagen" src="/static/imagenes/pug.jpg" width="150px">
        </article>
        <article>
            <h3>Cuidados para un perro</h3>
            <p id="letra"><b>Alimentación adecuada:</b> Proporciona una dieta equilibrada y adecuada a su tamaño, edad y nivel de actividad. 
                <br>
                <b>Ejercicio regular:</b> Los perros necesitan ejercicio diario para mantenerse sanos y felices. Paseos, juegos y tiempo de juego son fundamentales.
                <br>
                <b>Higiene:</b> Baña a tu perro según sea necesario y cepilla su pelaje regularmente para prevenir enredos y problemas de piel.
                <br>
                <b>Vacunación y desparasitación:</b> Mantén al día las vacunas y los tratamientos contra parásitos para proteger la salud de tu perro.
                <br>
                <b>Atención veterinaria:</b> Programa revisiones regulares con el veterinario para garantizar que tu perro esté sano y para abordar cualquier problema de salud de manera temprana.</p>
        </article>
</section>  
</section> 
<aside>
    <h3> Avisos:</h3>
    <p id="letra"> Cambio de horario por nuevo año <br> <b>12:00am-7:00pm</b> todos los dias.
        <br>
        <br>
        <b>Recaudacion de fondos en el parque heroes <br> 5:00pm-7:00pm</b>
    </p>
      
</aside>
    
{% endblock content %}
  